
<% flash.each do |key, value| %>
  <div>
    <%= value %>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
				<% if user_signed_in? %>
				  <p>WELCOME  <%= current_user.name %></p>
				<% end %>
			</li>
		</ul>
	
		<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<nav class="navbar navbar-dark bg-dark">
  <ul>
  <%= link_to 'Home', root_path %>&nbsp;&nbsp;&nbsp;
  <%= link_to 'friends', users_path %>&nbsp;&nbsp;&nbsp;
  <%= link_to 'Groups', chat_rooms_path %>&nbsp;&nbsp;&nbsp;
</ul>

<% if user_signed_in? %>
<p align='right'><%= link_to 'log out', destroy_user_session_path, method: :delete %></p>
<% end %>

</nav>

